<section class="container container-instagram">
    <div class="row">
        <div class="col-md-12">
            <h1>Somewords</h1>
        </div>
        <div class="col-md-12">
            <!-- Generate such a widget at snapwidget.com for your name -->
            <!-- Copy/paste code here or just update the snapwidget value at _config.yml -->
            <h1><a href="http://blog.xujuncheng.cn">我的博客</a></h1>
            <h1><a href="http://ehall.xjtu.edu.cn">我的课表</a></h1>
            <!--<h1><a href="http://blog.xujuncheng.cn">Blog</a></h1>-->

            
        </div>
    </div>
</section>